:root{
    --font-color:#fefae0; 
}


body{
   background-color:#FFFAF0; 
  
}
.logo{
    border-radius: 50%;
}
.Titles{
   font-family:"Lobster";

margin:10px;
}


/* Styling the Nav bar*/

/* Styling of list items*/
.Links {
    display: flex;
    justify-content: center;
    align-items:center;
   gap:10px;
}

.Links a , .sale-links a , .sign-up a{
   
 text-decoration: none;
 color:black
 
    
}

/*Styling the title*/

.main-Title{   

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.main-Title h1{
      font-size:30px;
}
.sign-up{
    display: flex;
    align-items: center;
    gap:10px;
}

/* Icons on right side of page*/
.IconContainer{
    display: flex;
    justify-content:flex-end ;
    align-items:center;
}

.Icons{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 margin-top:-20px;
 gap:10px;
}
/*Style for sale links*/
.sale{
    display: flex;
   justify-content: space-evenly;
   gap: 10px;
color:var(--font-color);
padding:15px;
background-color:#003566;
}

.sale-links{
    display:flex;
    gap: 20px;
    
}

.sale-links a{
    color:var(--font-color);
}

.sale-links a:hover{
  color: grey;
}

/*Main content*/
.ClothingOne{
    display: flex;
    flex-direction:column;
    margin:10px;
    

}
.Sizes{
    display: flex;
    gap:10px;
}
.Main-content{
   display: flex;
   gap:30px;
 
}

.clothingTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.clothingImg{
    width:350px;
   
}

input{
    padding:10px;
    margin:10px;
}

.description{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}
.description h1{
    margin:20px;
    font-size: 23px;
    font-family:"Lobster";
}

.description .des-list{
    list-style-type: circle;
    margin-left:20px;
}



.RelatedItem{
    font-size: 13px;
    font-style: italic;
    display: flex;
    justify-content: space-evenly;
    color: var(--font-color);
    background-color: #003566;
    align-items: center;
    height: 40px; 

}
/*Adding mobile responsiveness*/
/*This allows for screens up to 390px to recieve responsive interaction to our website*/
@media  screen and(max-width:390px) {
    .main-Tile{
        flex-direction: column;
        align-items: center;
    }
    .main-Title h1{
        font-size:20px;
        margin:10px 0;
    }
    .sale{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        padding:10px;
    }

    .sale-links{
        flex-direction: column;
        gap:10px;
    }
    .Main-content{
        flex-direction: column;
        gap:20px;
        align-items: center;
    }
    .clothingImg{
        width: 100%;
    }

    #SearchBar{
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .Icons{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        margin-top:20px;
    }
    .Icons img {
        width: 20px;
    }
    .logo{
        border-radius: 50%;
        width:20px;
    }

}