:root{
    --font-color:#fefae0; 
}


body{
   background-color:#FFFAF0;
}


/* Styling the Nav bar*/
.navbar{
   
  
   
}

/* Styling of list items*/
.Links {
    display: flex;
    justify-content: center;
    align-items:center;
   gap:10px;
}

.Links a , .sale-links a{
 list-style: none;
 text-decoration: none;
 color:black
 
    
}

/*Styling the title*/

.main-Title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.main-Title h1{
      font-size:30px;
}

/* Icons on right side of page*/
.IconContainer{
    display: flex;
    justify-content:flex-end ;
    align-items:center;
}

.Icons{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 margin-top:-20px;
 gap:10px;
}
/*Style for sale links*/
.sale{
    display: flex;
   justify-content: space-evenly;
   gap: 10px;
color:var(--font-color);
padding:15px;
background-color:#003566;
}

.sale-links{
    display:flex;
    gap: 20px;
    
}

.sale-links a{
    color:var(--font-color);
}

.sale-links a:hover{
  color: grey;
}